.cont {
  max-width: 800px;
  margin: 0 auto; /* ТЕСТ   выравнивает по центру*/
  padding: 10px 60px;
  background-image: linear-gradient(
    to bottom,
    rgba(236, 231, 231, 0.067) 0%,
    rgba(95, 87, 87, 0.267) 100%
  );
}
h1 {
  text-align: center;
  color: #d99e57;
  font-size: 40px;
}
h2 {
  text-align: center;
  border: 1px solid #d3cbe7;
  border-radius: 2px;
  padding: 15px;
  color: #a376aa;
  font-size: 25px;
  font-weight: normal;
}
.imgcat {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 4px;
}
.butt {
  display: block;
  margin: 20px auto;
  background-color: rgb(121, 116, 110);
  border: none;
  border-radius: 2px;
  color: aliceblue;
  padding: 15px 20px;
  font: 16px Arial;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
.butt:hover {
  color: white;
  background: #a69dbe;
  cursor: pointer;
}

p {
  line-height: 1.5;
  font-size: 17px;
  margin: 20px 0 10px;
  text-align: justify;
}
.wiki {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #a376aa;
  font-size: 12px;
}
.wiki:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
}
span.class1 {
  font-size: 30;
  color: rgb(9, 9, 172);
}
